*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
body{
    background: linear-gradient(320.56deg, #3108fe 26.99%, rgba(85, 9, 160, 0.7) 95.21%);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}
.box{
    background: linear-gradient(320.56deg, #a61cec 26.99%, #ec2bd2 95.21%);
    height: 500px;
    width: 900px;
    padding: 30px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
select{
    width: 200px;
    height: 60px;
    border-radius: 12px;
    padding: 20px;
}
.inputlar{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
#btn{
    background: linear-gradient(320.56deg, #3108fe 26.99%, rgba(85, 9, 160, 0.7) 95.21%);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
#result{
    width: 350px;
    height: 180px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: black;
    background-color: white;
    text-align: left;
    padding: 20px;
}
#from{
    width: 350px;
    height: 180px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: black;
    background-color: white;
    text-align: left;
    padding: 20px;
}